.ant-table {
  font-family: "Cairo", sans-serif !important;
  border: 1px solid #f0f0f0;
}
.ant-table-cell::before {
  visibility: hidden;
}

.ant-table-thead .ant-table-cell {
  color: rgb(156, 164, 182) !important;
  font-size: 0.9rem;
  font-weight: bold;
}

.ant-table-row-level-0:last-child .ant-table-cell:last-child {
  display: flex;
  flex-direction: column;
}

.table-with-note-red {
  color: rgb(227, 6, 19) !important;
  font-size: 0.75rem;
}

.table-with-note-yellow {
  color: rgb(249, 186, 2) !important;
  font-size: 0.75rem;
}
