.ant-table {
  font-family: "Cairo", sans-serif !important;
  border: 1px solid #f0f0f0;
}
.ant-table-cell::before {
  visibility: hidden;
}

.ant-table-thead .ant-table-cell {
  color: rgb(156, 164, 182) !important;
  font-size: 0.9rem;
  font-weight: bold;
}

.ant-table-row-level-0:last-child .ant-table-cell:last-child {
  display: flex;
  flex-direction: column;
}

.table-with-note-ar-red
  .ant-table-row-level-0:last-child
  .ant-table-cell:last-child::after {
  content: "تم إلغاء الشحنة من التاجر";
  color: rgb(227, 6, 19) !important;
  font-size: 0.75rem;
}
.table-with-note-en-red
  .ant-table-row-level-0:last-child
  .ant-table-cell:last-child::after {
  content: "Cancelled by the merchant";
  color: rgb(227, 6, 19) !important;
  font-size: 0.75rem;
}
.table-with-note-ar-yellow
  .ant-table-row-level-0:last-child
  .ant-table-cell:last-child::after {
  content: "العميل غير متواجد في العنوان";
  color: rgb(249, 186, 2) !important;
  font-size: 0.75rem;
}
.table-with-note-en-yellow
  .ant-table-row-level-0:last-child
  .ant-table-cell:last-child::after {
  content: "The customer is not present at the address";
  color: rgb(249, 186, 2) !important;
  font-size: 0.75rem;
}
