.home {
  height: 60vh;
}
.home-container {
  max-width: 650px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 25px 18px;
}
.home-title {
  color: #111619;
  margin-bottom: 2rem;
  font-size: 3rem !important;
  font-weight: bold;
}
